Proyecto Cementerio Chatwoot/San Agustin Knowledge V2 Hybrid RAG.json
{
  "name": "San Agustin Knowledge V2 Hybrid RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        200
      ],
      "id": "e9ae8a35-9c67-4719-a504-11fa7b642858",
      "name": "When chat message received",
      "webhookId": "c0cbd09e-1bb2-4b12-87d2-2820af8c5955"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fqnaibuczoaptgzxjodr.supabase.co/functions/v1/hydrid_search_function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxbmFpYnVjem9hcHRnenhqb2RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk4NTk0MjUsImV4cCI6MjA2NTQzNTQyNX0.YBZpaGkpV5iekKJvM82QwPtMCC7ZEddX7fBQ9_PiiWA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -520,
        20
      ],
      "id": "a85b02c1-be8b-43e7-9128-14a33c0cc7b3",
      "name": "Traer de Base Vectorial"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -260
      ],
      "id": "1a67b3cd-5b7e-48a6-b7fe-72eff1476fcb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        200,
        -260
      ],
      "id": "a0b70a6d-317d-40b8-8428-a176c0e747a9",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "1a1t1lDFKdQmf1bn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        0
      ],
      "id": "55070532-aaed-4b01-98de-99d66183aa6c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bXhXAUvMRNyf1Uls",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        320,
        -40
      ],
      "id": "6095a7f4-d075-4312-a7f5-ec16909701dc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1cOT1-MpEAPpFla6opQ4LWxqvYAHlt7xc/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -180,
        -260
      ],
      "id": "5227ea50-3854-446f-8b8b-5dc3eff0e675",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PpphU0xIbBm3xUKY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        -260
      ],
      "id": "451a94b7-c4df-4b2b-b19a-1389b7967480",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un asistente de consultas.\nSolo genera una respuesta basada en los resultados de la fuente de conocimientos que tienes como herramienta Knowledge, consultala primero siempre para obtener informacion de contexto\n\nIMPORTATE\nsiempre consulta la herramienta knowlegde para obtener conocimientos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -20,
        200
      ],
      "id": "f23081c6-6665-46e0-844c-70cf1d8eeae0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -40,
        400
      ],
      "id": "fff53782-19b0-4f77-ab48-3d06a93b28e0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bXhXAUvMRNyf1Uls",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fqnaibuczoaptgzxjodr.supabase.co/functions/v1/hydrid_search_function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxbmFpYnVjem9hcHRnenhqb2RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk4NTk0MjUsImV4cCI6MjA2NTQzNTQyNX0.YBZpaGkpV5iekKJvM82QwPtMCC7ZEddX7fBQ9_PiiWA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        380,
        360
      ],
      "id": "a82eff42-1432-45ca-846f-25f8b4351270",
      "name": "Knowledge"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "faccbcce-1266-4e8c-960c-0699811de718",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de7ee340de0cd4d19d9948809d7f4d8f6492ab5b34b54271e464aa70c88f0d01"
  },
  "id": "XrRQ3MLoJcL36k3U",
  "tags": []
}